[Desktop Entry]
Name=kutimo
Comment=A note and color every day.
Exec=kutimo
Icon=${SNAP}/meta/gui/kutimo.png
Terminal=false
Type=Application
Categories=Utility;
